.content{
    margin: 0 auto;
}
.image{
    max-width: 100%;
    height: auto;
}
.relative{
    position: relative;
}
.absolute1{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    width:33%;
    margin: 8px 16px;
}
.absolute2{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    margin: 8px 16px;
}
.contain-menu1{
    background-color: black;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    opacity: 0.6;
    text-align: center;
}
.contain-menu1 h2,p{
    padding: 16px;
}
.contain-menu1 button{
    width: 100%;
    border: none;
    color: white;
    background-color: #4CAF50;
    font: inherit;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 24px;
}
.contain-menu1 button:hover{
    color: black;
    background-color: #4CAF50;
}
.contain-menu1:hover{
    opacity: 1;
}
.contain-menu2 button{
    border: none;
    color: white;
    background-color: black;
    padding: 8px 16px;
    border-radius: 4px;
    font: inherit;
}
.contain-menu2 button:hover{
    color: black;
    background-color: #fff;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2{
    font-weight: 400;
    
}